@charset "UTF-8";


html {

&,
 &::before,
 &::after {
  box-sizing: border-box;
 }
}

html {
/*1*/
 -ms-text-size-adjust: 100%;
/*2*/
 -webkit-text-size-adjust: 100%;
/*2*/
 box-sizing: border-box;
}

/**
*Remove default margin.
*/
body {
height: 100%;
 min-height: 100vh;
 padding: 0;
 margin: 0;
 min-width: 100vw;
 font-family: Roboto, sans-serif;
 font-weight: 400;
 font-style: normal;
 line-height: 1.5;
 color: #0a0a0a;
 background: #ffffff;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

/* article,
figcaption,
figure,
footer,
header,
main,
menu,
nav {
display: block;
} */

#lmm4hack_page {
    margin: 5rem;
    padding: 0;
    display: grid;
    grid-template-columns: 20% 75%;
    gap: 5rem;
}

#lmm4hack_page nav {
    display: block;
}

#lmm4hack_page figure, figcaption {
    display: block;
}

#lmm4hack_page img {
    width: 100%;
}

#lmm4hack_page h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
    display: block;
}

#lmm4hack_page h1 {
    font-size: 2.8rem;
}

#lmm4hack_page h2 {
    font-size: 2.2rem;
}

#lmm4hack_page h3 {
    font-size: 1.8rem;
}

#lmm4hack_page h4 {
    font-size: 1.5rem;
}

#llm4hack_nav ul {
    list-style-type: none;
}
